@page "~/Board/{BoardId:guid}/Activities"
@using Humanizer
@using Jobby.Client.Extensions
@model ActivitiesModel
@{
    ViewData["Title"] = "Board Activities";

    string setCheckbox(bool value)
    {
        return value ? "Checked" : "";
    }
}

<section class="flex flex-col gap-y-6 w-full max-w-3xl justify-center relative p-5">
    <a asp-page="/Board" asp-route-id="@Model.BoardId" class="btn-secondary py-2 px-8 w-max text-center z-10">Back To Board</a>
    <h1 class="text-xl font-medium">Activity List</h1>
    <section class="grid grid-cols-1 gap-4">
        <div class="activityFormToggle fixed inset-0"></div>
        @foreach (var activity in Model.Activities)
        {
            <form asp-page-handler="UpdateActivity" method="post" class="activityForm flex flex-col gap-y-4 relative z-10 outline outline-1 outline-gray-900 bg-gray-50 h-10 overflow-y-hidden w-full cursor-pointer px-4 pb-4">
                <input type="hidden" value="@activity.Id" name="ActivityId">
                <input type="hidden" value="@activity.ActivityType" name="ActivityType">
                <div class="flex flex-row w-full items-center">
                    <div class="flex flex-row gap-x-2 h-10 items-center">
                        <input type="checkbox" @setCheckbox(activity.Completed) value="true" name="Completed">
                        <input class="border-0 bg-gray-50 cursor-pointer w-full" type="text" value="@activity.Title" name="Title">
                    </div>
                    <div class="flex flex-row gap-x-2 py-2 ml-auto h-10">
                        <p class="@ActivityTypeExtension.ToCssClass(activity.ActivityType)">@activity.ActivityName</p>
                        <p class="flex justify-center items-center text-xs bg-red-50 text-red-600 rounded-md px-3 py-0.5 font-medium whitespace-nowrap">@activity.CreatedDate.Humanize(utcDate:false)</p>
                    </div>
                </div>
                <textarea class="border-1 border-gray-300 min-h-[10rem] w-full p-3" name="Note" value="@activity.Note" placeholder="Note"></textarea>
                <button class="btn-primary rounded-sm px-5 py-0.5">Save</button>
            </form>
        }
    </section>
</section>

@section scripts {
    <script type="text/javascript">
        var activityForms = document.querySelectorAll(".activityForm");
        var activityFormToggle = document.querySelector(".activityFormToggle");

        activityFormToggle.addEventListener('click', () => {
            activityForms.forEach((el) => el.classList.remove("active"))
        })

        activityForms.forEach(form => {
            form.addEventListener('click', event => {
                activityForms.forEach((el) => el.classList.remove("active"));
                handleActivityFormClick(event);
            })
        });

        function handleActivityFormClick(event) {
            var clickedElement = event.currentTarget;

            console.log(clickedElement);

            if (clickedElement.classList.contains("active")) {
                return;
            }

            clickedElement.classList.add("active");
        }
    </script>
}