@using Jobby.Client.ViewModels.Board
@model BoardDetailViewModel
@{
    ViewData["Title"] = Model.Name + " Board";
}

<section class="p-8 flex flex-col gap-y-8 relative h-full">
    <h1 class="text-2xl font-semibold">@Model.Name Board</h1>
    <div class="w-full flex flex-row gap-x-4">
        @foreach (var jobList in Model.JobList)
        {
            <div class="w-full max-w-2xl bg-gray-50 p-4 border-1 border-gray-900 flex flex-col gap-y-4">
                <p class="text-base font-medium">@jobList.Name</p>
                <p>@jobList.Count Jobs</p>
                <button 
                    data-board-id="@Model.Id"
                    data-board-name="@Model.Name"
                    data-list-id="@jobList.Id"
                    data-list-name="@jobList.Name"
                    class="add-job-btn text-2xl bg-indigo-200 px-4 py-1 w-full rounded-lg mt-4 border-1 border-gray-900">
                    <i class="bi bi-plus"></i>
                </button>
                @foreach(var job in jobList.Jobs)
                {
                    <div class="border-y-1 border-gray-900 bg-gray-100 -mx-4 relative cursor-pointer">
                        <button 
                            data-job-id="@job.Id"
                            data-job-title="@job.Title"
                            data-job-company="@job.Company"
                            data-board-id="@Model.Id"
                            class="delete-job-btn text-xl absolute right-3 bottom-2">
                            <i class="bi bi-trash"></i>
                        </button>
                        <a asp-action="ViewJob" asp-controller="Board" asp-route-boardId="@Model.Id"  asp-route-jobId="@job.Id">
                            <div class="flex px-4 py-2 flex-col gap-y-2">
                                <p class="text-sm font-medium">@job.Company</p>
                                <p class="text-sm">@job.Title</p>
                            </div>
                        </a>
                    </div>
                }
            </div>
        }
    </div>
    <div id="add-job-partial" class="absolute inset-0 bg-gray-50/90 hidden flex justify-center"></div>
    <div id="delete-job-partial" class="absolute inset-0 bg-gray-50/90 hidden flex justify-center"></div>
</section>