@using Jobby.Client.ViewModels.BoardViewModels
@model BoardDetailViewModel
@{
    ViewData["Title"] = Model.Name + " Board";
    Layout = "_DashboardLayout";
}

<section class="p-8 flex flex-col gap-y-8 relative h-full">
    <div class="flex flex-row items-end">
        <h1 class="text-xl xl:text-2xl font-semibold">@Model.Name Board</h1>
        <button class="btn-secondary rounded-full px-8 py-2 w-max ml-auto">Actions</button>
    </div>
    <div class="w-full gap-8 grid grid-cols-1 TwoJobList:grid-cols-2 ThreeJobList:grid-cols-3 FourJobList:grid-cols-4 FiveJobList:grid-cols-5">
        @foreach (var jobList in Model.JobList)
        {
            <div class="bg-gray-50 border-1 border-gray-900 flex flex-col h-max w-full">
                <div class="flex flex-col gap-y-2 p-4">
                    <p class="text-base font-medium">@jobList.Name</p>
                    <p>@jobList.Count Jobs</p>
                    <button 
                        hx-post="/Job/CreatePartial"
                        hx-vals='{"BoardId": "@Model.Id", "JobListId": "@jobList.Id", "JobListName": "@jobList.Name", "BoardName": "@Model.Name"}'
                        hx-swap="innerHTML"
                        hx-target="#create-job-parent"
                        onclick='showElement("create-job-parent")'
                        class="btn-primary py-2 px-8 w-max ml-auto !rounded-full">
                        Add Job
                    </button>
                </div>
                @foreach(var job in jobList.Jobs)
                {
                    <a class="bg-gray-50 border-gray-900 border-t-1 w-full cursor-pointer p-4 custom-shadow" asp-action="ViewJob" asp-controller="Board" asp-route-boardId="@Model.Id" asp-route-jobId="@job.Id">
                        <div class="flex flex-col">
                            <p class="text-lg font-medium text-ellipsis overflow-hidden ... whitespace-nowrap">@job.Title</p>
                            <p class="text-base text-ellipsis overflow-hidden ... whitespace-nowrap">@job.Company</p>
                        </div>
                    </a>
                }
            </div>
        }
    </div>
    <section class="fixed top-12 inset-x-0">
        <div id="create-job-parent" class="inset-0 bg-gray-50/90 h-screen hidden flex justify-center"></div>
    </section>
</section>