@page "~/Board/{BoardId:guid}/Activities"
@using Humanizer
@using Jobby.Client.Extensions
@model ActivitiesModel
@{
    ViewData["Title"] = "Board Activities";

    string setCheckbox(bool value) => value ? "Checked" : "";
}

<section class="flex flex-col gap-y-6 w-full max-w-3xl justify-center relative p-5">
    <a asp-page="/Board" asp-route-id="@Model.BoardId" class="btn-secondary py-2 px-8 w-max text-center z-10">Back To Board</a>
    <h1 class="text-xl font-medium">Activity List</h1>
    <section class="grid grid-cols-1 gap-4">
        <div class="activityFormToggle fixed inset-0"></div>
        @foreach (var activity in Model.Activities)
        {
            <form 
                asp-page-handler="UpdateActivity" 
                method="post"
              class="activityForm flex flex-col gap-y-4 relative z-10 outline outline-1 h-16 md:h-9 outline-gray-900 overflow-y-hidden w-full cursor-pointer p-2 px-3 transition-height duration-200 ease-out bg-gray-50">
                <input type="hidden" value="@activity.Id" name="ActivityId">
                <input type="hidden" value="@activity.Type" name="ActivityType">
                <div class="grid grid-cols-[minmax(100px,1fr)_1fr_1fr] md:grid-cols-[minmax(100px,175px)_1fr_1fr] w-full items-center h-12 md:h-5 gap-x-4">
                    <div class="flex flex-row items-center w-full gap-x-4">
                        <input type="checkbox" @setCheckbox(activity.Completed) name="Completed">
                        <input class="text-sm border-0 p-0 m-0 bg-gray-50 cursor-pointer w-full" type="text" value="@activity.Title" name="Title">
                    </div>
                    <div class="flex flex-col md:flex-row gap-2 overflow-hidden">
                        <p class="bg-blue-50 text-blue-600 text-xs rounded-md px-3 py-0.5 font-medium truncate inline-block w-max">@activity.Job.Title</p>
                        <p class="bg-blue-50 text-blue-600 text-xs rounded-md px-3 py-0.5 font-medium truncate inline-block w-max">@activity.Job.Company</p>
                    </div>
                    <div class="flex flex-col md:flex-row gap-2 justify-self-end">
                        <p class="text-xs rounded-md px-3 py-0.5 truncate inline-block w-max ml-auto font-semibold @ActivityTypeExtension.ToCssClass(activity.Type)">@activity.Name</p>
                        <p class="text-xs bg-gray-100 text-gray-600 rounded-md px-3 py-0.5 text-center font-medium truncate inline-block w-max ml-auto">@activity.CreatedDate</p>
                    </div>
                </div>
                <textarea class="border-1 border-gray-300 min-h-[8rem] w-full p-3" name="Note" placeholder="Note">@activity.Note</textarea>
                <button class="btn-primary rounded-sm px-5 py-0.5 w-max">Save</button>
            </form>
        }
    </section>
</section>

@section scripts {
    <script type="text/javascript">
        var activityForms = document.querySelectorAll(".activityForm");
        var activityFormToggle = document.querySelector(".activityFormToggle");

        activityFormToggle.addEventListener('click', () => {
            activityForms.forEach((el) => el.classList.remove("active"))
        })

        activityForms.forEach(form => {
            form.addEventListener('click', event => {
                activityForms.forEach((el) => el.classList.remove("active"));
                handleActivityFormClick(event);
            })
        });

        function handleActivityFormClick(event) {
            var clickedElement = event.currentTarget;

            if (clickedElement.classList.contains("active")) {
                return;
            }

            clickedElement.classList.add("active");
        }
    </script>
}